* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: "メイリオ", "Meiryo", "Noto Sans JP", sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
  color: #000000;
}

/* PC表示 */

/* ヘッダー */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
}
.header-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav {
  margin-left: 50px;
}
.nav-inner {
  display: flex;
  gap: 50px;
}
.logo a {
  display: block;
  width: 100px;
}
.nav-list {
  display: inline-block;
  font-size: 14px;
}
.contact-btn a {
  display: block;
  color: #ffffff;
  background-color: #000000;
  padding: 33px 64px;
}

/* セクションインナー */
.section-inner {
  margin: 130px auto;
  padding: 16px;
  max-width: 1000px;
}
.section-title {
  font-weight: lighter;
  font-size: clamp(26px, 4vw, 36px);
  letter-spacing: 0.5em;
}
.sub-title {
  margin-top: 20px;
}

/* フッター */
.footer-inner {
  background-color: #ffffff;
  margin-top: 110px;
  padding: 16px;
}
.footer-logo {
  width: 100px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.copyright {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  .header-inner {
    padding: 16px;
  }
  .nav {
    padding: 10px;
  }
  .nav-inner {
    gap: 30px;
  }
  .contactbtn {
    display: none;
  }
  .news-box ul {
    display: flex;
    flex-direction: column;
  }
  .section-inner {
    margin: 40px auto;
  }

  .footer-logo {
    padding-top: 40px;
  }
  .footer-info {
    padding-top: 16px;
  }
  .copyright {
    padding-top: 10px;
  }
  .company-info {
    padding: 50px 36px 44px 20px;
  }
  .footer-inner {
    margin-top: 20px;
  }
}
